.cover {
  background-image: url("../../../public/images/cover2.jpg");
  background-position: left;
  // background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .text {
    // margin-top: 7rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 2em;
    align-items: center;
    width: max-content;
    padding: 1em;
    text-align: center;
    color: rgb(252, 243, 243);
    text-shadow: 0px 2px 6px rgb(0 0 0 / 57%);
  }
}